.navbar.navbar-expand-lg.navbar-light.bg-white.shadow-sm {
    background-color: #2FA7AB !important;
    height: 80px; 
    display: flex; 
    align-items: center; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
}
h3 mb-4{
    color: #2FA7AB;
}

.navbar-brand{
    color: white;
    font-weight: bold;
    font-size: 36px;
}


.navbar-nav .nav-link {
    color: white !important;
}
.navbar-nav .nav-link:hover {
    color: white !important;
    text-decoration: underline;
}

.navbar-nav .logout-link {
    color: #333131 !important; 
}

.navbar-nav .logout-link:hover {
    color: red !important; 
}